/* @media(max-width:659px ){
    /* .div1{
        width: 29vw;
    }
    .input{
        width: 24vw;
    }
    .div1a{
        width:25vw;
    } */
    /* body{
        background-color: aqua;
    } */
} */